todo.txt
*.d
*.o
*.a
prog
*.dot
hello
*.pdf
.knit
build.sh
knit
knit-*
!/cmd/knit
*.out
*.cov
knit.1
test/scratch

build.ninja
.ninja*

/tools/version/version
/tools/replace/replace

/examples/cmake/build
